<div *ngIf="isBalanceReady">
  <div class="text-center">
    Your account balance is :&nbsp;
    <span class="title" [ngClass]="{'color-red': previousBalance < 0, 
    'color-green': previousBalance > 0}">{{previousBalance}} &nbsp;€</span>
  </div>

  <div class="bloc">
    <mat-form-field appearance="fill">
      <mat-label>Amount</mat-label>
      <input matInput [(ngModel)]="amount" type="number"
              onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
    </mat-form-field>

    <button mat-raised-button class="primary" (click)="deposit()">Deposit</button>
  </div>
</div>
