<div class="toolbar-child">
  <a routerLink="account-statement" routerLinkActive='link-child' mat-button aria-label="Account statement">
    Account statement
  </a>

  <a routerLink="deposit" routerLinkActive='link-child' mat-button aria-label="Deposit">
    Deposit
  </a>

  <a routerLink="withdraw" routerLinkActive='link-child' mat-button aria-label="Withdrawal">
    Withdrawal
  </a>
</div>

<router-outlet></router-outlet>
