<div class="text-center margin-25" *ngIf="isBalanceReady" mat-button>
  Your account balance is :&nbsp;
  <span class="title" 
        [ngClass]="{'color-red': previousBalance < 0, 
        'color-green': previousBalance > 0}">
    {{previousBalance}} &nbsp;€
  </span>
</div>

<div class="table-container">
  <div class="margin-b-10 pointer" (click)="downloadAccountStatement()">
    <mat-icon class="print-icon">print</mat-icon> Download account statement
  </div>

  <table mat-table matSort matSortActive="createdAt" matSortDirection="desc" [dataSource]="dataSource" class="mat-elevation-z8"
    (matSortChange)="announceSortChange($event)">
    <!-- createdAt Column -->
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt |date}} </td>
    </ng-container>

    <!-- deposit Column -->
    <ng-container matColumnDef="deposit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Deposit </th>
      <td mat-cell *matCellDef="let element"> {{element.deposit}} </td>
    </ng-container>

    <!-- withdrawal Column -->
    <ng-container matColumnDef="withdrawal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Withdrawal </th>
      <td mat-cell *matCellDef="let element"> {{element.withdrawal}} </td>
    </ng-container>

    <!-- balance Column -->
    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Balance </th>
      <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>