<header>
  <nav>
    <div class="toolbar">
      <div [routerLink]="['']" class="logo" matTooltip="Logo">
        my bank!
      </div>

      <div>
        <a routerLink="mybank/offers" routerLinkActive='link-parent' mat-button aria-label="Our offers"
          matTooltip="Undeveloped">
          Our offers
        </a>

        <a routerLink="mybank/open-an-account" routerLinkActive='link-parent' mat-button *ngIf="!connectedUser"
          aria-label="Open an account" matTooltip="Undeveloped">
          Open an account
        </a>

        <a routerLink="mybank/connexion" routerLinkActive='link-parent' mat-button *ngIf="!connectedUser"
          aria-label="Customer Area">
          Customer Area
        </a>

        <a routerLink="mybank/add-an-account" routerLinkActive='link-parent' mat-button *ngIf="connectedUser"
          aria-label="Open another account" matTooltip="Undeveloped">
          Add an account
        </a>

        <a routerLinkActive='link-parent' routerLink="mybank/customer-area" mat-button *ngIf="connectedUser"
          aria-label="My account">
          <mat-icon>account_balance</mat-icon> My account
        </a>

        <a routerLinkActive='link-parent' mat-button *ngIf="connectedUser" aria-label="Connected user's name">
          <mat-icon>person_outline</mat-icon> {{connectedUser.username}}
        </a>

        <a routerLinkActive='link-parent' mat-button (click)="logOut()" *ngIf="connectedUser" aria-label="Log out">
          <mat-icon>power_settings_new</mat-icon> Log out
        </a>

        <a routerLinkActive='link-parent' mat-button routerLink="mybank/contact-us"
        aria-label="Contact us" matTooltip="Undeveloped">
          Contact us
        </a>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
