.bloc {
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  margin: auto;
  width: 20%;
}

.text-center {
  text-align: center;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.icon-down {
  position: relative;
  top: 5px;
}

.toolbar-child {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 5px #555;
  color: black;
  margin-bottom: 50px;
}

.margin{
  &-25 {
    margin: 25px;
  }
  //*************//
  //   bottom    //
  //*************//

  &-b {
    &-10{
      margin-bottom: 10px;
    }

    &-15{
      margin-bottom: 10px;
    }
  }
}

.link-parent {
  background-color: white;
  color: black;
}

a.link-child {
  font-weight: bold;
  font-size: 25px;
  border-bottom: 5px solid;
  border-radius: 0px;
}

.print-icon {
  position: relative;
  top: 5px;
}

.pointer {
  cursor: pointer;
}

.notif-alert {
  color: white;
  background-color: #c10d38;
}

.notif-success {
  color: white;
  background-color: green;
}

.color {
  &-red {
    color: #c10d38;
  }

  &-green {
    color: green;
  }
}


