header {
  background: black;
  width: 100%;
  top: 0;
  z-index: 1;
  color: white;
  // position: fixed;
}

nav {
  padding: 10px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 12px;
  z-index: 1;
  box-shadow: 1px 1px 5px #555;
  div {
    padding: 5px;
  }
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
