table {
  width: 100%;
  border: 1px solid #ddd;

  th {
    &.mat-header-cell {
      padding: 5px;
      background: black;
      color: white;
      &.border-right {
        border-right: 1px solid #F2F2F2;
      }
    }
  }

  tr {
    &:hover {
      background-color: #ddd;
    }

    &:nth-child(even) {
      background-color: #ddd;
    }

    &.mat-header-row {
      height: 40px;
    }
  }

  tbody {
    tr {
      line-height: 2;
      &.mat-row {
        height: 40px;
      }
    }
  }

  td.mat-cell {
    padding: 5px;
  }
}

.table-container {
  width: 80%;
  margin: auto;
  max-height: 250vh;
  overflow: auto;
}
