/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; }

* {
  font-size: 14px;
  font-family: 'Montserrat-Light';
}

/* You can add global styles to this file, and also import other style files */
@import "./styles-perso/homepage.scss";
@import "./styles-perso/commun.scss";
@import "./styles-perso/angular-material-components.scss";
@import "./styles-perso/buttons.scss";
@import "./styles-perso/table.scss";


@font-face {
  font-family: "Montserrat-Italic";
  src: url("./styles-perso/font-family/Montserrat/Montserrat-Italic.ttf");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("./styles-perso/font-family/Montserrat/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Sniglet-Regular";
  src: url("./styles-perso/font-family/Sniglet/Sniglet-Regular.ttf");
}




